.keySelectContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  user-select: none;
}

.shift {
  background-color: var(--medium_yellow);
  padding: 2px 1rem;
  opacity: 0.25;
  border-radius: 5px;
}
