.menuContainer {
  width: 100%;
  height: var(--menu_height);
  display: flex;
  background-color: var(--logo_yellow);
  transform: translateY(-45px);
  transition: transform 0.25s ease-in-out;
  position: fixed;
  top: 0;
}
.menuContainer:hover {
  transform: translateY(0);
}
.menuContainer:hover .leftSide,
.menuContainer:hover .rightSide {
  opacity: 1;
}
.menuContainer:hover .middleSide {
  opacity: 0;
}
.leftSide {
  width: 45%;
  height: 100%;
  padding-left: 10px;
  opacity: 0;
  transition: opacity 0.15s linear;
}
.leftHomeLink {
  display: inline-flex;
  height: 100%;
}
.henningLogo {
  width: auto;
  height: 100%;
}

.middleSide {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: opacity 0.15s linear;
}

.rightSide {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  gap: 1rem;
  transition: opacity 0.15s linear;
}

.rightSide button,
.rightSide a {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-inline: 0.25rem;
  border-radius: 4px;
  font-weight: 700;
}
.rightSide button:hover,
.rightSide a:hover {
  background-color: var(--logo_black);
  color: var(--text_color_white);
  text-decoration: underline;
}
.rightSide button svg,
.rightSide a svg {
  height: 16px;
  width: 16px;
  padding-left: 0.2rem;
}
.rightSide button svg path,
.rightSide a svg path {
  fill: var(--text_color);
}
.rightSide button:hover svg path,
.rightSide a:hover svg path {
  fill: var(--text_color_white);
}
