.coreContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: var(--logo_yellow);
  color: var(--logo_white);
}

.container {
  width: 100%;
  background: var(--darkBG_1);
  backdrop-filter: 3px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 600px;
  padding-block: 2rem;
  margin-top: 5vh;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
  box-shadow: var(--boxshadow_1);
  border: 3px solid var(--logo_yellow);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 3rem;
  width: 100%;
  height: 100%;
}
.form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form div label,
.form label {
  font-weight: 800;
  padding-bottom: 2px;
}

.form div input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: 2px solid rgba(0, 0, 0, 1);
}
.form div input:focus {
  outline-color: var(--logo_yellow);
}

.form a {
  color: var(--hyperlink_color);
}

.loginButton {
  width: 40%;
  margin-top: 1rem;
  min-width: 60px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 700;
  background-color: var(--logo_yellow);
  outline: 3px solid transparent;
  cursor: pointer;
}
.loginButton:active {
  background-color: var(--active_color);
}
.loginButton:hover {
  outline-color: var(--text_color_white);
}

.showPasswordButton {
  position: absolute;
  right: 10px;
  top: 40px;
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_background_img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000000ab;
  background-blend-mode: color-dodge;
}

@media (max-width: 720px) {
  .coreContainer {
    align-items: center;
  }
  .logo_container {
    padding-left: 3vw;
    padding-top: 14vw;
    padding-bottom: 14vw;
    padding-right: 14vw;
  }
  .logo {
    width: 19vw;
    height: 19vw;
  }
  .container {
    width: 90%;
  }
  .form {
    padding-inline: 1rem;
  }
  .showPasswordButton {
    top: 35px;
  }
  .home_background_img {
    background-position: center;
  }
}
