.tempo {
  margin-left: 3rem;
  position: relative;
  width: fit-content;
  font-weight: 700;
  padding-block: 3px;
  padding-inline: 13px;
  transition: all 0.3s ease-in-out;
}

.tempo span {
  content: '';
  position: absolute;
  left: -16px;
  top: 7px;
  width: 13px;
  height: 13px;
  background-color: #faba4d;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.tempo:hover {
  transform: translateX(15px);
}

.tempo:hover span {
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  left: 0;
  top: 0;
  border-radius: 10px;
}
